html {
    scroll-behavior: smooth;
}
/* FORCE BIG TEXT EVERYWHERE */
body, body * {
    font-size: 1.5rem !important;
}

/* EXTRA BIG HEADINGS */
h1 { font-size: 4.8rem !important; }
h2 { font-size: 3.8rem !important; }
h3 { font-size: 2.8rem !important; }
h4 { font-size: 2.4rem !important; }
p  { font-size: 1.8rem !important; }
a  { font-size: 1.6rem !important; }
button { font-size: 1.6rem !important; }
input  { font-size: 1.4rem !important; }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(9, 9, 48);
    z-index: 1000;
}
.header a:hover {
    color: #205f89;  
}
.header a{
    color:white;
    font-size: medium;
    padding: 10px 15px; 
    display: block;

}
#nav {
    display: flex;
    gap: 15px; 
    flex-wrap: wrap; 
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('purpleneon.jpg');
    background-size: cover;
    background-position: center;  
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 70px 10% 0;
    color: white;
}
.page h1{
    color:skyblue
}
.h4 span{
    color:Skyblue;
}
.page h1{
    font-size: 4rem;
}
.page h3{
    font-size: 2rem;
}
.page h4{
    font-size: 2rem;
}
.profile-pic {
    position: absolute;
    right: 20%; 
    top: 50%;

    transform: translateY(-50%); 
    text-align: center;
}
.profile-pic img {
  
    width: 580px; 
    height: 580px;
    border-radius: 50%; 
    border: 4px solid rgba(0, 255, 255, 0.6); 
    box-shadow: 
        0 0 15px rgba(0, 255, 255, 0.8), 
        0 0 40px rgba(0, 255, 255, 0.6), 
        0 0 60px rgba(0, 255, 255, 0.4); 
        animation: waveEffect 3s infinite ease-in-out;
        transition: 0.3s ease-in-out;
}
.profile-pic img:hover {
    box-shadow: 0 0 30px rgb(35, 95, 163); 
}

.profile-pic {
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.profile-pic img {
    width: 480px; 
    height: 480px;
    border-radius: 50%; 
    border: 8px solid rgba(255, 255, 255, 0.923);
    box-shadow: 
        0 0 15px rgba(0, 255, 255, 0.8), 
        0 0 40px rgba(0, 255, 255, 0.6), 
        0 0 60px rgba(0, 255, 255, 0.4); 
        animation: waveEffect 3s infinite ease-in-out; 
        transition: 0.3s ease-in-out;
}


.profile-pic img:hover {
    box-shadow: 0 0 30px rgb(35, 95, 163); 
}

.about{
    background-image: url(purpleneon2.0.jpg);
    background-position: center;
    background-size: cover;
    color:white;
    height:100vh;
    width:100%;
    top:100px;
    flex-direction: column;
   align-items: center;
   padding: 70px 10%;
    justify-content: center;
}
.aboutus p {
    margin-top: 60px;
    max-width:  800px;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 15px; 
      margin-left: auto;  
    margin-right: auto;
    animation: fadeInQuick 1s ease-in-out;
}
.about{

    font-size: 2.5rem;
align-items: center;
}
.about h1{
    margin-left: 800px;
}.about{

    font-size: 2.5rem;
align-items: center;
}
.about h1{
    margin-left: 850px;
}

.about-container {
    display: flex; 
  flex-direction: row-reverse;
  align-items: center; 
  justify-content: space-between; 
  gap:70px;

}
.about-pic img{
    height: 450px;
    width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border: 8px solid rgba(240, 240, 240, 0.949); 
    box-shadow: 
        0 0 15px rgba(0, 255, 255, 0.8), 
        0 0 40px rgba(0, 255, 255, 0.6), 
        0 0 60px rgba(0, 255, 255, 0.4); 
        animation: slideTop 1s ease-out forwards;
   
}
.about-btn {
    padding: 10px 20px;
    background-color: rgb(3, 42, 87);
    color: white;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 
        0 0 15px rgba(102, 220, 220, 0.8), 
        0 0 40px rgba(0, 255, 255, 0.6), 
        0 0 60px rgba(0, 255, 255, 0.4);
        display: inline-block;
        transition: transform 0.3s ease-in-out; 
}
.about-btn:hover{
    background-color: rgb(104, 200, 237);
    transform: translateY(-10px);

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(9, 9, 48);
    z-index: 1000;
}
.header a:hover {
    color: #205f89; 
}
.header a{
    color:white;
    font-size: medium;
    padding: 10px 15px; 
    display: block;

}

#nav {
    display: flex;
    gap: 15px; 
    flex-wrap: wrap;
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('purpleneon.jpg');
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 70px 10% 0;
    color: white;
}
.page h1{
    color:skyblue
}
.h4 span{
    color:Skyblue;
}
.page h1{
    font-size: 4rem;
}
.page h3{
    font-size: 2rem;
}
.page h4{
    font-size: 2rem;
}

.main-logo{
    display: flex;
    gap: 15px;
    margin-top: 30px;
    font-size: 1.5rem ;
}
.main-logo a:hover {
    color: #20a4f3;
}
.btn{
    display: inline-block;
    margin-top: 30px;  
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.3s;
}
@keyframes slideTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.page h3 {
    animation: slideTop 1s ease-out;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    
}
.h4{
    animation: slideIn 1s ease-out;
}

@keyframes fadeInQuick {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.page h1 {
    animation: fadeInQuick 1s ease-out forwards;
}


.about{

    font-size: 3rem;
align-items: center;
}

.main-logo{
    display: flex;
    gap: 15px;
    margin-top: 30px;
    font-size: 1.5rem ;
}
.main-logo a:hover {
    color: #20a4f3;
}
.main-logo a {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.main-logo a:hover {
    transform: translateY(-10px);
}
.btn{
    display: inline-block;
    margin-top: 30px;  
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.3s;
}
@keyframes slideTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.page h3 {
    animation: slideTop 1s ease-out;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    
}
.h4{
    animation: slideIn 1s ease-out;
}
@keyframes fadeInQuick {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.page h1 {
    animation: fadeInQuick 1s ease-out forwards;
}


@keyframes slideTop{
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}
@keyframes fadeInQuick {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#skills {
    background: url('purpleneon2.0.jpg') no-repeat center center/cover;
    padding: 50px 0;
    width: 100%;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
    color:white
}


/* ===== FORCE SKILL TITLE SIZE ===== */
.sub-title,
.sub-title span {
    font-size: 5rem !important;
    font-weight: 800 !important;
    line-height: 1.2 !important;
}


.heading {
    font-size: 2.2rem;
    margin-bottom: 40px;
}
.skill-section{
    background-image: url(purpleneon2.0.jpg);
    padding: 50px 0;
    width: 100%;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
    font-size: 3.3rem;
    margin-left: 100px;
    color:cyan;
   
    animation: slideIn 2s ease-in-out;
    
}
.technical-bars .bar{
    display:flex;
    align-items: center;
    gap: 10px; 
    margin-top: 40px;
    margin-left: 100px;
}
.technical-bars .bar i {
    font-size: 2.5rem; 
    margin-right: 10px;
    color: white; 
}

.technical-bars .bar .fa-css3-alt {
   font-size: 2.8rem;
    color: yellow;
}
.technical-bars .bar .fa-html5 {
    color:red;
}
.technical-bars .bar .fa-js {
    color: yellow;
}


.technical-bars .bar .fa-react {
    color: #61dbfb;
}


.technical-bars .bar .fa-c {
    color: darkblue;
}

.technical-bars .bar .fa-cuttlefish {
    color: purple;
}

.technical-bars .bar .fa-java {
    color: orange;
}

.technical-bars .bar .fa-python {
    color: green;
}
.progress-line {
    width:400px;
    height:10px;
    background: white;
    border-radius:24px;
}

.progress-line span {
    display: block;
    height: 100%;
    width: var(--progress, 0%);
    background: #1c8fc1;
    animation: fillProgress 2s ease-in-out forwards;
    transition: width 0.5s ease-in-out;
}
@keyframes fillProgress {
    from {
        width: 0%;
    }
    to {
        width: var(--progress, 0%);
    }
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    
    
}


h1{
     justify-content: center; 
     font-size: 4rem;
      text-align: center; 
      color:white; 
} 
.section2{
     background-image: url(purpleneon2.0.jpg);
      background-position: center; 
      background-size: cover; 
} 
.h1 span{ 
    color:cyan; 
    fonr-size:4rem;
} 

.card{
    display:flex; color:white; flex-wrap: wrap;
}

.card img{
    margin: 70px 40px 40px 40px;
    height:400px;
    width:400px;
    border-radius: 10%;
    box-shadow: 5px 5px 15px cyan;
}
.card1 h2{
    font-size: 2.5rem;
    text-align: center;
    color:aqua
}
.card2 h2{
    font-size: 2.5rem;
    text-align: center;
    color:aqua
}
.card3 h2{
    font-size: 2.5rem;
    text-align: center;
    color:aqua
}
.card1:hover{

    transform: translateY(-20px);
}
.card2:hover{
    transform: translateY(-20px);

}
.card3:hover{
    transform: translateY(-20px);
}
.contact {
    background-image: url('purpleneon2.0.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    padding-top:100px;
    height:100vh;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding:0% 5%;
  flex-wrap: wrap;
}
.contact-p {
    width: 40%;
    text-align: left;
}
.contact-p h2{
   
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 50px; 
    margin-bottom: 10px;
    display: inline-block; 
    white-space: nowrap; 
}
.contact-p h2 span{
    gap:30px;
    color:cyan
}
.contact-p h4{
    display:flex;
    width: 20%; 
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
   margin-right:1200px;
   
    
}
.contact-p p{
    width: 50%; 
    text-align: center;
    max-width: 800px;  
    margin: 20px auto;
    line-height: 1.6; 
    font-size: 1.3rem;
    margin-right:1000px;
  
}
.panel-know a{
    color: cyan;
    margin: 30px 30px;
    text-decoration: none;
    font-size: 1.2rem;

}
.contact-logo{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    font-size: 1.5rem ;
}
.contact-logo:hover {
    color: #20a4f3;
}
.contact-logo a {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.contact-logo a:hover {
    transform: translateY(-10px);
}
.contact-us {
    width: 40%;  
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: grey;  
    height: 400px;
    border-radius: 10px; 
    margin: 0 auto;  
    padding: 20px;
}

.contact-us input {
    width: 85%; 
    padding: 12px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 15px;
    background-color: white;
    color: black;
}
#feeb-button{
    height:30px;
    width:80px;
    color:white;
    border-radius: 10%;
    background-color: #205f89;
    box-shadow: #61dbfb;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
#feeb-button:hover{
   background: #61dbfb;
}